

/* GENEL SAYFA AYARLARI */


body {
    font-family: Arial, sans-serif;

    background-image: url("/static/superlig-arka-plan.jpg");
    background-size: cover;
    background-position: center -300px;
    background-attachment: fixed;
    background-repeat: no-repeat;

    margin: 0;
}



/* TELEFON */

@media (max-width: 600px) {

    body {
        background-image: url("/static/superlig-mobil.jpg");
        background-size: cover;
        background-position: center center;
        background-attachment: scroll;
        background-repeat: no-repeat;
    }

}