body {
    font-family: Arial, sans-serif;

    background-image: url("/static/superlig-arka-plan.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin: 0;
    padding: 30px;
}


/* TELEFON */

@media (max-width: 600px) {

    body {
        background-image: url("/static/superlig-mobil.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }

}